@media screen and (max-width: 400px) {
    .soc-icon {
        display: none;
    }

    .nav__button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .products {
        padding: 10px;
    }

    .products__list {
        flex-direction: column;
    }

    .about_card {
        width: 100%;
    }

    .about__grid {
        flex-direction: column;
    }
}